* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all 0.2s ease;
}

body {
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    text-shadow: 2px 2px 2px black;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: blue;
}

::-webkit-scrollbar-thumb {
    width: 7px;
    background-color: rgb(77, 77, 255);
}

.container {
    display: flex;

    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 41, 68);
}

.left,
.right {
    width: 50vw;
    height: 100vh;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: blue;
}

.right {
    background-color: rgb(0, 0, 109);
}

.metrics {
    width: clamp(100px, 20vw, 250px);
    background-color: rgb(19, 98, 159);
    border-radius: 10px;
    line-height: 20px;
}

.metrics .name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    overflow: hidden;

    line-height: 90%;
    background-color: rgb(15, 78, 126);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#cookie {
    width: clamp(150px, 20vw, 200px);
    height: clamp(150px, 20vw, 200px);
}

#cookie:active {
    scale: 1.05;
}

.notifications {
    display: flex;
    flex-direction: column;
    gap: 10px;

    position: fixed;
    z-index: 10;

    overflow: hidden;

    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 20vw;
    height: 100px;
}

.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    color: black;
    text-shadow: none;
}

.notification-white {
    background-color: white;
}

.notification-orange {
    background-color: rgb(255, 97, 39);
}

.notification-red {
    background-color: red;
}

.data {
    position: fixed;
    display: flex;
    gap: 20px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.data button {
    color: white;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: none;
}

#save-data {
    background-color: green;
}

#save-data:active {
    background-color: rgb(0, 97, 0);
}

#delete-data {
    background-color: orangered;
}

.toggle-configs {
    position: absolute;
    z-index: 30;

    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
}

#configs {
    z-index: 10;
}

.toggle-configs img {
    width: 100%;
    height: 100%;
}

.toggle-configs:hover {
    scale: 1.05;
}

.toggle-configs:active {
    scale: 0.95;
}

.config {
    padding: 20px;
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(103, 141, 255);
    opacity: 0;
    pointer-events: none;
    width: 80vw;
    height: 80vh;
    border-radius: 10px;
}

.config-overlay {
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    background-color: rgb(80, 110, 199);
    opacity: 0;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
}

.config.active {
    opacity: 0.98;
    pointer-events: all;
}

.config-overlay.active {
    opacity: 0.7;
    pointer-events: all;
}

#configs.active {
    z-index: 10;
}

#fullscreen {
    background-color: rgb(65, 65, 65);
}
#fullscreen img{
height: 100%;
}

.shop {
    max-width: 90%;
    max-height: 50vh;
    overflow-y: auto;
    color: white;
    padding: 10px;
    background-color: rgb(124, 189, 253);
    border-radius: 6px;
}

.shop-cursor {
    width: 90%;
    background-color: blue;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
}

.shop-cursor button {
    width: 90%;
    height: 30px;
    background-color: blue;
    border-radius: 10px;
    color: white;
}

.shop-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shop-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 5px;
    background-color: blue;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.shop-item .desc {
    width: 100%;
    max-height: 60px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(0, 0, 87);
}

@media screen and (max-width: 900px) {
    .shop {
        max-width: 90%;
        max-height: 40vh;
    }

    .shop-item {
        width: 100%;
        flex-direction: column;
    }

    .notifications {
        width: 80vw;
    }

    .data {
        flex-direction: column;
        gap: 20px;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .data button {
        width: 50vw;
    }
}
