* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: blue;
}

p {
    color: black;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
    height: 100vh;
}

.left,
.middle,
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.left {
    background-color: red;
}

.middle {
    background-color: rgb(68, 68, 180);
    justify-content: start;
}

#save-data {
    position: fixed;
    bottom: 50px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}

.right {
    background-color: yellow;
}

.left img:active {
    scale: 1.05;
}

.notify-container {
    position: fixed;
    top: 10px;
    right: 50%;
    transform: translateX(50%);

    display: flex;
    flex-direction: column;
    gap: 10px;

    height: 180px;
    overflow-y: hidden;

    z-index: 9999;
}

.notify {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black;
}

.notify p {
    color: black;
}
